.modalWrapper {
  min-width: 600px;
}

.modal {
  background: lightgray;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 15px 15px 5px 15px;
  border: 2px solid #ee5401
}

.modalBody {
  padding-top: 10px;
  color: black;
  height: 100%;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  color: black;
  font-family: helvetica;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalTitle {
  color: black;
  width: 100%;
  /* background-color: green; */
  text-align: center;
  margin-left:  20px;
}

.x {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  cursor: pointer;
  color: white;
  background-color: #ee5401;
  border: 1px solid white;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  /* padding-bottom: 4px */
}

.appInfoContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: blue; */
}

.imageDescContainer {
  display: flex;
  padding: 0 10px;
  max-width: 650px;

}

.screenshot {
  max-width: 300px;
  margin-bottom: 10px

}

.image {
  width: 100%;
  box-shadow: 3px 3px 5px grey;
  border-radius: 2px;
}

.descTechsContainer {
  /* width: 300px; */
  max-height: 200px;
  width: 100%
}

.buttonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  /* background-color: green; */
}

.button {
  min-width: 125px;
  height: 50px;
  box-shadow: 3px 3px 5px #a3a3a3;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  padding: 0 15px;
  font-size: large
}

.githubButton {
  background-color: lightgray;
  border: 2px solid #ee5401;
}

.deployedButton {
  background-color: #ee5401;
  color: white;
  border: 2px solid white;
  font-size: x-large;
}

.sproutsweeper {
  font-family: 'Times New Roman', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: blue;
}
@media (max-width: 900px) {
  .modalWrapper {
    min-width: 300px;
    max-width: 400px
  }
  .imageDescContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    /* background-color: beige; */
    padding: 0
  }
  .descTechsContainer {
    max-width: 300px;
    /* background-color: aqua; */
  
  }
  .buttonContainer {
    width: 100%;
    justify-content: space-between;
    max-width: 300px;
    /* background-color: #ee5401; */
  }
}

@media (min-width: 900px) {

  .longDescription, .techs {
    margin: 0 15px 5px 15px;
  }
 
}
