@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.linksList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;
    color: white
}

.link {
    margin-left: 15px;
    list-style-type: none;
    font-weight: 400;
    text-align: right;
    font-family: "Jost", sans-serif;
    font-size: x-large
}
.title {
    color: #ee5401;
    text-align: left;
    font-family: "Jost", sans-serif;
}
.titleContainer {
    min-width: 200px;
}
