@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.linksList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarContainer {
  position: sticky;
  background-color: var(--base);
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.navbar {
  display: flex;
  padding: 0 clamp(1rem, 5vw, 2rem) 1rem clamp(1rem, 5vw, 2rem);
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  flex-direction: column;
  color: var(--black);
  background-color: var(--base);
  width: 100%;
}

.navbar a {
  list-style-type: none;
  font-weight: 400;
  text-align: right;
  font-family: 'Jost', sans-serif;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 0.1em;
  color: var(--main-pink);
}
.navbar a:hover {
  text-decoration: none;
}
.title {
  color: var(--main-pink);
  text-align: left;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
}

@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}
