@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --main-orange: #ff6410;
  --main-pink: rgb(255, 0, 155);
  --main-green: rgb(133, 247, 45);
  --main-purple: rgb(178, 95, 255);
  --pane-padding: 5px 42px;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: rgb(20, 20, 20);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
