@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --main-orange: #ff6410;
  --main-pink: rgb(255, 0, 155);
  --main-green: rgb(133, 247, 45);
  --main-purple: rgb(178, 95, 255);
  --lavender: hsl(265deg 56% 60%);
  --black: rgb(30, 30, 30);
  --pane-padding: 5px 42px;
  --base: rgb(252, 252, 252);
  --light-orange: hsl(40, 118%, 63%);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  background-color: var(--base);
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
