.gridSubcontainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 800px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 800px) {
  .gridSubcontainer {
    grid-template-columns: 1fr 1fr;
  }
}
.description {
  margin: 0 50px 0 0;
  line-height: 1.5;
  font-size: 40px;
  max-width: 500px;
  text-align: left;
  vertical-align: middle;
  height: 300px;
  display: flex;
  align-items: center;
  font-family: 'Jost', sans-serif;
}
.hey {
  font-size: 4rem;
}
.image {
  margin-bottom: 20px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.introContainer {
  display: flex;
  margin: 0 auto 20px auto;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  height: 70vh;
}
.main {
  min-height: 100vh;
  /* padding: 0 0 2rem 0; */
  flex: 1;
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
}
.picContainer {
  display: flex;
  flex-direction: column;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}
.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: 'Jost', sans-serif;
  color: #ee5401;
}
.subtitle {
  line-height: 1.15;
  font-size: 4rem;
  margin: 6rem 0 6rem 0;
  color: var(--base);
  font-family: 'Jost', sans-serif;
}
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
.grid {
  width: 100%;
  padding-bottom: 8rem;
  background-color: var(--lavender);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardContainer {
  /* width: 100%; */
}
.card {
  padding: 1.5rem;
  height: 100%;
  text-align: left;
  color: var(--base);
  text-decoration: none;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  /* width: 100%; */
  min-height: 240px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}
.cardContainer[data-game='boredgame'] {
  order: 1;
}
@media (min-width: 800px) {
  .card {
    max-width: 400px;
  }
}
.card:hover,
.card:focus,
.card:active {
  color: var(--main-orange);
  border-color: var(--main-orange);
  background-color: var(--base);
}
.cardTitleDescContainer {
}
.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Jost', sans-serif;
}

.icons {
  font-size: xx-large;
  display: flex;
  justify-content: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.twitter {
  color: rgb(31, 155, 240);
  margin-right: 20px;
}
.linkedin {
  margin-right: 20px;
  color: rgb(10, 103, 194);
}
.github {
  color: #1f2328;
}
.card .technologies {
  color: var(--light-orange);
  font-size: 1.25rem;
  text-wrap: balance;
}

.boredGame {
  font-family: 'Love Ya Like A Sister', cursive;
}

.fridgy {
  font-family: 'Koulen', sans-serif;
}
.mixtails {
  font-family: 'Permanent Marker', sans-serif;
}
.sproutsweeper {
  font-family: 'Vujahday Script', cursive;
}

.moreInfo {
  display: flex;
  flex-direction: column;

  gap: 10rem;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  max-width: 1200px;
  text-wrap: balance;
  padding: 10rem 1rem 2rem 1rem;
}
.moreInfo div {
  text-align: center;
  margin: 4rem 0;
}
.moreInfo a {
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 0.1em;
}
.moreInfo a[href='/contact'] {
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 810px) {
  .hey {
    font-size: 45px;
  }
  .description {
    font-size: 35px;
  }
}
@media (max-width: 700px) {
  .hey {
    font-size: 40px;
  }
  .description {
    font-size: 30px;
  }
}
@media (max-width: 650px) {
  .hey {
    font-size: 35px;
  }
  .description {
    font-size: 25px;
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .hey {
    font-size: 30px;
  }
  .description {
    font-size: 25px;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 300px;
    height: 150px;
  }
  .introContainer {
    flex-direction: column;
    align-items: center;
  }
}
